<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="finger.thuetot.vn">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="finger.thuetot.vn.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/logo_hihi"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_final2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="finger.thuetot.vn.activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        </activity>
        <activity
            android:name="finger.thuetot.vn.activity.Fullscreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        </activity>

        <service
            android:name="finger.thuetot.vn.service.AuthenticationService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="finger.thuetot.vn.service.LocationService"
            android:exported="false"
            android:stopWithTask="true">
            <intent-filter>
                <action android:name="sega.fastnetwork.test.service.LocationService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d1d1b70c633bdc569a426196f89166e675829623" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
      <!--  <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>-->
        <activity
            android:name="finger.thuetot.vn.activity.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <service
            android:name="finger.thuetot.vn.service.FirebaseMessagingService"
            android:permission="exported">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="finger.thuetot.vn.service.FirebaseInstanceIDService"
            android:permission="exported">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="finger.thuetot.vn.activity.AddActivity" />
        <activity android:name="finger.thuetot.vn.activity.EditProductActivity" />
        <activity android:name="finger.thuetot.vn.activity.SearchActivity" />
        <activity
            android:name="finger.thuetot.vn.activity.AboutUsActivity"
            android:theme="@style/Theme.AppCompat.Light.ActionBar.FullScreen" />
        <activity

            android:name="finger.thuetot.vn.activity.AppIntroActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="finger.thuetot.vn.activity.ProductDetailActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter android:label="@string/app_name" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name="finger.thuetot.vn.activity.ProductDetailNeedActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        </activity>
        <activity android:name="finger.thuetot.vn.activity.ForgotPassword">

        </activity>
        <activity android:name="finger.thuetot.vn.activity.ReplyCommentActivity">

        </activity>
        <activity
            android:name="finger.thuetot.vn.activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name="finger.thuetot.vn.activity.ChatActivity" />

        <activity android:name="finger.thuetot.vn.activity.CommentActivity" />
        <activity android:name="finger.thuetot.vn.activity.DetailNeedProductActivity" />
        <activity android:name="finger.thuetot.vn.activity.ChangePasswordActivity" />
        <activity
            android:name="finger.thuetot.vn.activity.DetailProfileActivity"
           />
    </application>

</manifest>